{% extends 'survey/delima_questions.html' %}

{% block script %}
<script>
$(document).ready(() => {
  if (!$(".user_area .all_questions").hasClass("selected")) {
    $(".user_area .option").removeClass("selected");
    $(".user_area .all_questions").addClass("selected");
  }
})
</script>
{% endblock %}

{% block main_content %}
{% load static %}

<!-- <div class = "touch_screen">
  Please use a larger screen.<br/><br/>
  Please don't use a touch screen.<br/><br/>
  Still working on responsive layout and touch screen.<br/>
  <input type="button" onclick="console.log('getthisshitouttahere');this.parentNode.style.display = 'none';">
</div> -->

<div class = "questions_col">
  <div class = "question_nav">
    <div class = "basic_nav">
      <div class = "first_line">
      <div class = "title">RANK BY:</div>
      <div class = "input_wrap">
        <form action="trending">
          {% if by == 'trending' %}
          <input type="radio" id = "trending" name="ranking" checked onClick="javascript:this.parentNode.submit()">
          {% else %}
          <input type="radio" id = "trending" name="ranking" onClick="javascript:this.parentNode.submit()">
          {% endif %}
          <label for="trending">Trending</label>
        </form>
      </div>
      <div class = "input_wrap">
        <form action="latest">
          {% if by == 'latest' %}
          <input type="radio" id = "latest" name="ranking" checked onClick="javascript:this.parentNode.submit()">
          {% else %}
          <input type="radio" id = "latest" name="ranking" onClick="javascript:this.parentNode.submit()">
          {% endif %}
          <label for="Latest">Latest</label>
        </form>
      </div>

      </div>
      <div class = "second_line">
        <div class = "title">LAYOUT:</div>
        <div class = "input_wrap">
          <input type="radio" id = "method1" name="layout" checked>
          <label for ="method1">Cards</label>
        </div>
        <div class = "title filter">FILTER</div>
        </div>
      </div>


    <div class = "filter_options"></div>

  </div>
  
  {% for r in rules %}

    <div class = "question_cards">
      <div class = "over_view">
        <div class = "title">
          <a href="/loadsurvey/{{r.id}}">{{r.rule_title}}</a>
        </div>
        <div class = "img" style="background-color: #3498db;"></div>
      </div>
      <div class = "detail">
        <p>Prompt of the survey:</p>
        <dl>
          {{r.prompt}}
        </dl>

        <p>Number of responses to the survey:</p>
        <dl>
          {{r.number_of_answers}}
        </dl>

        <p>Date created:</p>
        <dl>
          {{r.creation_time}}
        </dl>

      </div>
    </div>

  {% endfor %}
</div>

<div class = "side_col">
  <div class = "side_card first" style= "height:300px;">
    <div class = "trend_title" style = "background-image: url({% static 'img/14035064.png' %});">
      Most Viewed Question
    </div>
    <div class = "content"></div>
  </div>

  <div class = "side_card" style= "height:500px;">
    <div class = "title">
      Ask Your Questions
    </div>
    <div class = "content"></div>
  </div>

  <div class = "side_card last" style= "height:200px;">
    <div class = "title">
      Help Us Improve
    </div>
    <div class = "content"></div>
  </div>
</div>

{% endblock %}
