{% extends 'survey/delima_questions.html' %}

{% block script %}
<script>
$(document).ready(() => {
  if (!$(".user_area .continue").hasClass("selected")) {
    $(".user_area .option").removeClass("selected");
    $(".user_area .continue").addClass("selected");
  }
})
</script>
{% endblock %}

{% block main_content %}
{% load static %}
<div class = "questions_col">
  <div class = "question_nav">
    <div class = "basic_nav">
      <div class = "title">RANK BY:</div>

      <div class = "input_wrap">
        <input type="radio" id = "method1" name="ranking" checked>
        <label for="method1">Earliest</label>
      </div>
      <div class = "input_wrap">
        <input type="radio" id = "method2" name="ranking">
        <label for ="method2">Latest</label>
      </div>
      <div class = "input_wrap">
        <input type="radio" id = "method3" name="ranking">
        <label for ="method3">Alphabetical</label>
      </div>

      <div class = "layout_wrap">
        <div class = "title">LAYOUT:</div>
        <div class = "input_wrap">
          <input type="radio" id = "method1" name="layout" checked>
          <label for ="method1">Cards</label>
        </div>
      </div>

      <div class = "title filter">FILTER</div>
    </div>
    <div class = "filter_options"></div>

  </div>
  {% for a in ans %}
    <div class = "question_cards">
    <div class = "over_view">
      <div class = "title">
        <a href="/loadsurvey/{{a.ruleset_id}}">{{a.prompt}}</a>
        <p>Date Taken: {{a.date}}</p>
      </div>
      <div class = "img" style="background-color: #3498db;"></div>
    </div>
    <div class = "detail">
      <p>Description:</p>
      <dl>
        {{a.desc}}
      </dl>
    </div>
  </div>
  {% endfor %}
</div>

<div class = "side_col">
  <div class = "side_card first" style= "height:300px;">
    <div class = "trend_title" style = "background-image: url({% static 'img/14035064.png' %});">
      Most Viewed Question
    </div>
    <div class = "content"></div>
  </div>

  <div class = "side_card" style= "height:500px;">
    <div class = "title">
      Ask Your Questions
    </div>
    <div class = "content"></div>
  </div>

  <div class = "side_card last" style= "height:200px;">
    <div class = "title">
      Help Us Improve
    </div>
    <div class = "content"></div>
  </div>
</div>
{% endblock %}
