<!doctype html>
<html>
<head>
  <title>ethical ai</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/rule_style_latest.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
  <script type="text/javascript" src="{% static '/scripts/jquery-3.5.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/scripts/rule_main_latest.js' %}"></script>
</head>
<body>
  {% include 'survey/navbar.html' %}
  <div class = 'page'>
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
