<!doctype html>
<html>
<head>
  <title>Ethical AI</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/idx.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-portfolio.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/shared.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/introjs.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/my_polls.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/rule_creation.css' %}">

  <!-- let's stick with the updated bootstrap version -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  

  <script type="text/javascript" src="{% static '/scripts/jquery-3.5.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/scripts/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/scripts/idx_main2.js' %}"></script>
  {% block script %}
  {% endblock %}
</head>
<body>
  
  <nav>
    <li><a href="http://127.0.0.1:8000/">Ethical Voting Platform</a></li>
    <li><a href="http://127.0.0.1:8000/about">About</a></li>
    <li><a href="{% url 'survey:rules' %}">Create</a></li>
    {% if not request.user.is_authenticated %}
    <li><a href="" data-bs-toggle="modal" data-bs-target="#registerPopUp">Register</a></li>
    <li><a href="" data-bs-toggle="modal" data-bs-target="#loginPopUp">Login</a></li>
    {% else %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
  </nav>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
  <div class="main">
  {% block content %}
  {% endblock %}
  </div>

  {% include 'survey/register.html' %}
  {% include 'survey/login.html' %}
</body>
</html>
