<!doctype html>
<html>

<head>
  <title>Ethical AI</title>
  {% load static %}
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="" crossorigin="anonymous" />

  <!-- jQuery UI CSS (base theme) -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-portfolio.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/shared.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/introjs.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/my_polls.css' %}" />
  <script type="text/javascript" src="{% static '/scripts/jquery-3.5.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/rule_style_latest3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/idx_style1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
  <script type="text/javascript" src="{% static '/scripts/jquery-3.5.1.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static '/scripts/rule_main_latest2.js' %}"></script> -->
  <script type="text/javascript" src="{% static '/scripts/jquery-ui.min.js' %}"></script>
</head>

<body>
  {% include 'survey/navbar.html' %}

  <div class='page' style="width:100%;margin:0;padding-top:64px;">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>