{% extends 'survey/my_base.html' %}

{% block content %}
<div class = "q2_pg">

  <div class="col1">
    <div class = "user_area">
      <div class = "info">
        {% load static %}
        <div class="circle" style="background-image: url({% static 'img/5770409.png' %})"></div>
        User name
      </div>
      <div class = "continue">
        <div class = "button">Unfinished Questions</div>
      </div>
      <div class = "my_result">
        <div class = "button">My results</div>
      </div>
      <div class = "privacy_term">
        <div style = "margin-top:5px;">Privacy policy</div>
      </div>
    </div>
  </div>

  <div class="col2">
    <div class = "question_nav">
      <button type="button" class="button prev">
				Prev Page
			</button>
      <div class = "nav_center"><div class = "order_by">
        Order by:
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Latest</label>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Id</label>
        &nbsp &nbsp &nbsp
        Page <input type="text" style="width:10px;">/10
      </div></div>
      <button type="button" class="button next">
				Next Page
			</button>
    </div>
    <div class = "qeustion_cards">
      <div class = "over_view">
        <div class = "title">
          Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
          <br/>
          Whom would you prefer to give the jacket to?
        </div>
        <div class = "img" style="background-color: #3498db;"></div>
      </div>
      <div class = "detail">
        <p>Your will be rating on:</p>
        <dl>
          <dt>Age</dt>
          <dd>0-100</dd>

          <dt>Health</dt>
          <dd>small health problems, in great health	</dd>

          <dt>Gender</dt>
          <dd>Male, Female</dd>
          etc.
        </dl>

      </div>
    </div>

    <div class = "qeustion_cards">
      <div class = "over_view">
        <div class = "title">
          If a self-driving car absolutely cannot avoid an accident and in all possible
          trajectories it hits a different group of people, which groups of people should it
          choose to spare?
        </div>
        <div class = "img" style="background-color: #2ecc71;"></div>
      </div>
      <div class = "detail">
        Your will be rating on:
        <dl>
          <dt>age</dt>
          <dd>A large feline inhabiting Bodmin Moor.</dd>

          <dt>health</dt>
          <dd>A sea serpent.</dd>

          <dt>gender</dt>
          <dd>A giant owl-like creature.</dd>income dependents
        </dl>

      </div>
    </div>

    <div class = "qeustion_cards">
      <div class = "over_view">
        <div class = "title">
          More questions
        </div>
        <div class = "img" style="background-color: #9b59b6;"></div>
      </div>
      <div class = "detail">
        Your will be rating on:
        <dl>
          <dt>age</dt>
          <dd>A large feline inhabiting Bodmin Moor.</dd>

          <dt>health</dt>
          <dd>A sea serpent.</dd>

          <dt>gender</dt>
          <dd>A giant owl-like creature.</dd>income dependents
        </dl>

      </div>
    </div>

    <div class = "qeustion_cards">
      <div class = "over_view">
        <div class = "title">
          More questions
        </div>
        <div class = "img" style="background-color: #f1c40f;"></div>
      </div>
      <div class = "detail">
        Your will be rating on:
        <dl>
          <dt>age</dt>
          <dd>A large feline inhabiting Bodmin Moor.</dd>

          <dt>health</dt>
          <dd>A sea serpent.</dd>

          <dt>gender</dt>
          <dd>A giant owl-like creature.</dd>income dependents
        </dl>

      </div>
    </div>

    <div class = "qeustion_cards">
      <div class = "over_view">
        <div class = "title">
          More questions
        </div>
        <div class = "img" style="background-color: #e67e22;"></div>
      </div>
      <div class = "detail">
        Your will be rating on:
        <dl>
          <dt>age</dt>
          <dd>A large feline inhabiting Bodmin Moor.</dd>

          <dt>health</dt>
          <dd>A sea serpent.</dd>

          <dt>gender</dt>
          <dd>A giant owl-like creature.</dd>income dependents
        </dl>

      </div>
    </div>

    <div class = "qeustion_cards">
      <div class = "over_view">
        <div class = "title">
          More questions
        </div>
        <div class = "img" style="background-color: #2ecc71;"></div>
      </div>
      <div class = "detail">
        Your will be rating on:
        <dl>
          <dt>age</dt>
          <dd>A large feline inhabiting Bodmin Moor.</dd>

          <dt>health</dt>
          <dd>A sea serpent.</dd>

          <dt>gender</dt>
          <dd>A giant owl-like creature.</dd>income dependents
        </dl>

      </div>
    </div>


    <br/><br/><br/><br/><br/><br/><br/>
  </div>

</div>

{% endblock %}
