{% extends 'survey/my_base.html' %}

{% block content %}
<div class = "q2_pg">

  <div class="col1">
    <div class = "user_area">
      <div class = "info">
        {% load static %}
        <div class = "usr_icon" style = "background-image: url({% static 'img/5770409.png' %})"></div>
        <div class = "usr_name">User name</div>
      </div>
      <div class = "all_questions">
        All Questions
      </div>
      <div class = "continue">
        Answered Questions
      </div>
      <div class = "my_result">
        Result Analysis
      </div>
    </div>
  </div>

  <div class="col2">
    <!-- <div class = "question_nav">
      <button type="button" class="button prev">
				Prev Page
			</button>
      <div class = "nav_center"><div class = "order_by">
        Order by:
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Latest</label>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Id</label>
        &nbsp &nbsp &nbsp
        Page <input type="text" style="width:10px;">/10
      </div></div>
      <button type="button" class="button next">
				Next Page
			</button>
    </div> -->
    <div class = "questions_col">
      <div class = "qeustion_cards top">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>
      <div class = "qeustion_cards">
        <div class = "over_view">
          <div class = "title">
            Suppose you are on an airplane that is about to land on a water body and there is only one rescue jacket left.
            <br/>
            Whom would you prefer to give the jacket to?
          </div>
          <div class = "img" style="background-color: #3498db;"></div>
        </div>
        <div class = "detail">
          <p>Your will be rating on:</p>
          <dl>
            <dt>Age</dt>
            <dd>0-100</dd>

            <dt>Health</dt>
            <dd>small health problems, in great health	</dd>

            <dt>Gender</dt>
            <dd>Male, Female</dd>
            etc.
          </dl>
        </div>
      </div>

    </div>

    <div class = "side_col">
      <div class = "side_card first" style= "height:300px;">
        <div class = "trend_title" style = "background-image: url({% static 'img/14035064.png' %});">
          Most Viewed Question
        </div>
        <div class = "content"></div>
      </div>

      <div class = "side_card" style= "height:500px;">
        <div class = "title">
          Ask Your Questions
        </div>
        <div class = "content"></div>
      </div>

      <div class = "side_card" style= "height:200px;">
        <div class = "title">
          Help Us Improve
        </div>
        <div class = "content"></div>
      </div>
    </div>


  <!-- end of col2 -->
  </div>
  <div class = "foot_note">
    <li class="first"><a href="asdf">About</a></li>
    <li><a href="asdf">Acceptable Use</a></li>
    <li><a href="asdf">Privacy</a></li>
  </div>
</div>

{% endblock %}
