{% extends 'survey/base.html' %}

{% block extra_head %}
{% endblock %}


{% block content %}
<div class = "idx_page">
<div class = "col1_idx">
  <div class = "items">
    <div class = "create_poll">
      <div class = "create_poll_text"><a href="/rules">CREATE YOUR POLL</a></div>
    </div>
    <div class="asdf"></div>
    <div class="ph"><div class="ph_text">My polls</div></div>
    <div class="ph"><div class="ph_text">All polls</div></div>
    <div class="ph"><div class="ph_text">...</div></div>
  </div>
</div>
<div class = "col2_idx">
  <div class="text">
    <h1>Popular polls</h1>
    <input id="search" type="text" placeholder="Search..">
  </div>

  <div class = "poll">
  </div>
  <div class = "poll">
  </div>
  <div class = "poll">
  </div>
  <div class = "poll">
  </div>
  <div class = "poll">
  </div>
</div>
</div>
{% endblock %}

<!--
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% include "polls/poll_created_tab.html" %}
  {% include "polls/poll_participated_tab.html" %}
  {% include "polls/m_poll_created_tab.html" %}
  {% include "polls/m_poll_participated_tab.html" %}


</div>
-->
