{% extends 'survey/base.html' %}

{% block content %}

<h2>Login</h2>
<form method="POST" action="/login">
    {% csrf_token %}
    
    <fieldset class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" value="" size="50" />
    </fieldset>
    
    <fieldset class="form-group">
        <label for="password">Password</label> 
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="" size="50" />
    </fieldset>

    {% if error %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endif %}

    <button type="submit">Login</button>
</form>

{% endblock %}