{% comment %} <nav>
  <li><a href="http://127.0.0.1:8000/">Ethical Voting Platform</a></li>
  <li><a href="http://127.0.0.1:8000/about">About</a></li>
</nav> {% endcomment %}

<!--nav bar for main page-->
<nav class="navbar navbar-default navbar-fixed-top" style="border-color: transparent; opacity: 0.9;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <div class="pull-right">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		</div>
      </button>
    </div>
    <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a class="navbar-brand" href="/">
            {% comment %} <img alt="O" src="/static/img/oprafulllogowhitenolink.png" style="width:60px;"> {% endcomment %}
          </a>
        </li>
        <li><a href="{% url 'survey:index' %}"><span class="fa fa-object-ungroup"></span>Home</a></li>
        <li><a href="{% url 'survey:rules' %}"><span class="fa fa-object-ungroup"></span>Create</a></li>
        <!-- THIS SHOULD BE CHANGED! right now a placeholder for default survey -->
        <li><a href="{% url 'survey:loadsurvey' 1 %}"><span class="fa fa-object-ungroup"></span>Take</a></li>
        {% if request.session.is_login %}
          <li><a href="{% url 'survey:mypolls' request.session.user_id%}"><span class="fa fa-object-ungroup"></span>My polls</a></li>
          <li style="position: absolute; right: 0;"><a href="{% url 'survey:logout' %}">Log out</a></li>
          <li style="float: right;"><a href="#">Current User: {{ request.session.user_name }}</a></li>
        {% else %}
          <li style="position: fixed; right: 0;"><a href="{% url 'survey:login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </div> <!-- end of nav bar-->
  </div><!--/.container-fluid -->
</nav>