{% comment %} this is how you grab the object {% endcomment %}
{% extends 'survey/base.html' %}
{{ survey_info|json_script:"survey_info" }}

<a id="test">hihi</a>


{% comment %} source javascript files for the page are imported like this {% endcomment %}
{% comment %} These scripts go at the end of the html file {% endcomment %}
{% comment %} The helper must be imported BEFORE main script in order to use the helper functions {% endcomment %}
{% load static %}
<script type="text/javascript" src="{% static '/scripts/helper.js' %}"></script> 
<script type="text/javascript" src="{% static '/scripts/samplescript.js' %}"></script> 
<a> This is a test.</a>