{% extends 'survey/side_bar.html' %}

{% block main_content %}
{% load static %}
<script type="text/javascript" src="{% static '/scripts/survey_info.js' %}"></script>

<!-- storing variables to be used in js -->
<script>
    const survey_output = JSON.parse("{{ answer_dist }}")
    const ml_output = JSON.parse("{{ pl_gammas }}")
</script>
<!-- main content should go here -->
<div class="questions_col">
    <h1>{{ rules.rule_title }}</h1>
    <div class="container-fluid">
        <b>Prompt:</b><br>{{rules.prompt}}<br><br>
        <b>Generative:</b><br>{{rules.generative}}<br><br>
        <b>Number of responses:</b><br>{{rules.number_of_answers}}<br><br>
        <b>Data created:</b><br>{{rules.creation_time}}<br><br>
        <b>Visualization of Data:</b><br>{{rules.creation_time}}<br>
        
        <div class="charts-container">
            <div id="survey-results" class="chartblock">
                <div class="chart-title">
                    <a>Looking at distribution for Question 1 Option 1</a>
                </div>
                <div>
                    <label for="question">Question: </label>
                    <select name="question" class="question">
                        {% for r in answer_dist %}
                        <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                        {% endfor %}
                    </select>
                    <label for="option">Option: </label>
                    {% for r in answer_dist %}
                        {% if forloop.counter0 == 0 %}
                    <select name="option" class="option">
                        {% else %}
                    <select name="option" style="display:none" class="option">
                        {% endif %}
                        {% for rr in r %}
                        <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                        {% endfor %}
                    </select>
                    
                    {% endfor %}
                    
                </div>
                <canvas style="height:50%;"></canvas>
            </div>
            <div id="ml-results" class="chartblock">
                <div class="chart-title">
                    <a>Looking at distribution of Question 1</a>
                </div>
                <div>
                    <label for="question">Question: </label>
                    <select name="question" class="question">
                        {% for r in pl_gammas %}
                        <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                        {% endfor %}
                    </select>
                </div>
                <canvas style="height:50%;"></canvas>
            </div>
        </div>
        <br>
        <b>Download Data</b><br><a href="{% url 'survey:survey_exporter' parent_id=rules.id|add:"-1" %}">Click here to download all of the data from this survey!</a><br><br>
    </div>
</div>

<!-- right column -->
<div class="side_col">
    <div class="side_card first" style="height:300px;">
        <div class="trend_title" style="background-image: url({% static 'img/14035064.png' %});">
            Most Viewed Question
        </div>
        <div class="content"></div>
    </div>

    <div class="side_card" style="height:500px;">
        <div class="title">
            Ask Your Questions
        </div>
        <div class="content"></div>
    </div>

    <div class="side_card last" style="height:200px;">
        <div class="title">
            Help Us Improve
        </div>
        <div class="content"></div>
    </div>
</div>



{% endblock %}