<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ethical Voting Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/survey-final-page.css">
  </head>
  <body>
    <p id="rate-followup">Please score each feature on how important they were to your decision making</p>
    <div>
      <p class="feature">Feature 1</p>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
    </div>
    <div>
      <p class="feature">Feature 2</p>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
    </div>
    <div>
      <p class="feature">Feature 3</p>
      <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
    </div>

    <p id="explain-followup">Please write more than 20 words to explain how you made your choices</p>
    <textarea></textarea>
    <button>Submit</button>

  </body>
</html>