<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ethical Voting Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/survey-page.css">
  </head>
  <body onload="guicheck()">
    <p id="prompt">Prompt</p>
    <div id="survey"></div>

    <div id="scorecontainer">
      <p>Scores: </p>  
    </div>

    <button id="prev" onclick="prev()">Prev</button>
    <button id="next" onclick="next()">Next</button>
    <button id="submit" onclick="grabdata()">Submit</button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static '/scripts/compiled_js/helper.js' %}"></script> 
    <script type="text/javascript" src="{% static '/scripts/compiled_js/samplescript.js' %}"></script> 
  </body>
</html>