<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ethical Voting Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/survey-page.css">
  </head>
  <body>
    <p id="prompt">Prompt</p>
    <table>
      <tr>
        <td></td>
        <td>
          <p>Option A</p>
        </td>
        <td>
          <p>Option B</p>
        </td>
        <td>
          <p>Option C</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Feature 1</p>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <p>Feature 2</p>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <p>Feature 3</p>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div id="scorecontainer">
      <p>Scores: </p>
      <div>
        <p class="option-score">Option A</p>
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
      </div>
      <div>
        <p class="option-score">Option B</p>
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
      </div>
      <div>
        <p class="option-score">Option C</p>
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
      </div>
    </div>
    <button>Prev</button>
    <button>Next</button>
  </body>
</html>