.chart-title{
    width:100%;
    display:flex;
    justify-content:center;
}

.chartblock{
    border: #80808080 solid;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
}

.charts-container{
    display:flex
}